html
  head
    title='reset.html'
  style
    include reset.css
  body
    div.headers
        h4='Hello Books'
        h1='Password Reset'
    div.con
      div.inputCon(token=token path=url)
        div
          label(for="password")='Password'
          input(type="password", name="password")#password
        div
          label(for="password-confirmation")='Confirm Password'
          input(type="password", name="password_confirmation")#password-confirmation
      button(type="button").submit='reset'
      div
        h3.resp
        div.loader.gone

  script
    include reset.js
